.container {
  display: flex;
  flex-direction: row;
  height: 100%;
  background-color: #02282F;

}


p{
  color: white;
  font-size: 1.3rem;
}

.dropzone{
  height: 150px;
  padding: 2rem;
  text-align: center;
  border: dashed 1px #979797;
  position: relative;
}





/* Inside dropzone */

.dropzone input{
  opacity: 0;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; 
  cursor: pointer; 
} 

.dropzone .preview-image { 
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
  z-index: 1; 
} 

.dropzone label{ 
  color: white; 
  padding: 8px; 
  border-radius: 22px;
  background-color: #4caf50;
  z-index: 4;
  display: inline-block;
  cursor: pointer;
}

.dropzone h3{
  font-size: 20px;
  font-weight: 600;
}

/* end dropzone */







.formBox{

 
  padding: 20vh 10vh 0 10vh;
}

.form-container { 
  background-color: #193D2A;
  height: 100%;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto; /* Enable scrolling if the content exceeds the container height */
}


.map-container {
  position: relative;
  width: 75%;
  height: 100%;
}






/* Inside map-container */

.map-container .button-container{
  position: absolute;
  top: 150px;
  left: 50px;
  z-index: 2;
  gap: 20px;


}

.map-container .button-container button{
 
  border: none;
  background-color: #379271;
  height: 60px;
  width: 90px;
  border-radius: 10px;
  cursor: pointer;
  color: white;
}

.map-container .button-container button.selected {
  background-color: #235a46;
  color: black;
}



.map-container .btnSend{
  cursor: pointer;
  position: absolute;
  color: white;
  font-weight: 450;
  background-color: #379271;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 70px;
  padding-right: 70px;
  font-size: 1.7rem;
  bottom: 75px;
  left: 50%;
  border-radius: 50px;
  transform: translateX(-50%);
  z-index: 3;
  
  border: none;
}

.map-container .btnSend:disabled, .btnSend[disabled] {

  background-color: #769288;
  color: black;
 
  
}

/* End map-container */





google-map{
  display: block;
  height: 100%;
}

mat-form-field{
  width: 90%;
  margin: 0;
}

mat-form-field.mat-focused .mat-form-field-label {
  color: green !important;
}



.hike-card {
  /* padding-top: 35%;
  width: 100%;
  border-radius: 10px; */
  display: flex;
  flex-direction: column;
 
}




.map-section {
  height: 100%;
  width: 100%;
  z-index: 2;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.button-group button {
  width: 50px;
  height: 50px;
  border: none;
  background-color: #235a46;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  border-radius: 10px;
  text-align: center;
}

.button-group button.selected {
  background-color: #379271; 
  color: white;
}

/* Optional: Style for icons */
.button-group i {
  font-size: 1.5rem;
}

.selected {
  background-color: #4caf50;
  color: #fff;
}

.point-info {
  margin-top: 20px;
}

.point-info p {
  margin: 5px 0;
}


@media only screen and (max-width:1500px) 
{

  .container{

    flex-direction: column;
  
  }

  
  .form-container {
     background-color: #193D2A;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y:visible;
    padding-bottom: 20px;
    flex-grow: 1;
  }

  

  .container{

    height: 200vh;

    display: flex;
  background-color: #02282F;

  }


  .map-container {
    position: relative;
    width: 100%;
  
  height: 100%;
    
    }


    /* Inside map-container */

    .map-container .button-container{
      position: absolute;
      left: 0px;
      top: 150px;
      z-index: 2;
   }

    /* End map-container */
 

}

.character-count {
  color: white;
}

