
.navcontainer{
    display: flex;
}

nav{
    margin-top: 35px;
}
ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  padding-left: 45vh; 
    padding-right: 2%;
    height: 66px;
    align-items: center;
    background-color: white;
    gap: 25px;
    padding-right: 130px;  
}
li{
    
    font-size: 1.3rem;
    font-weight: bold;
}

.logo{
    background-color: #379271;
    position: absolute;
    top: 0;
    width: 175px;
    height: 135px;
    left: 130px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);

    p{
        color: white;
        font-weight: 450;
        text-align: center;
        margin-top: 55%;
        font-size: 1.4rem;
    }
}


.menuMobile{

    display: none;
}

.Disconnect{
cursor: pointer;
}

@media only screen and (max-width: 1000px) {
   

    .menuMobile{

        display: block;
        display: flex;
        justify-content: end;
        padding-right: 7vh;
    }

    .strip{display: none;}
    
  .linkMenu{text-decoration: none;
color: white;}


}
@media only screen and (min-width: 1000px) and (max-width:1400px) {
   


    .strip{


        padding-left: 45vh;
        padding-right: 2%;


        
    }
    
      


}

@media only screen and (max-width: 900px) {



    .logo{
      
        left: 
        60px;

    } 
}