<div>
    <div class="logo">
        <div>

        </div>
        <p>ARSOUDE</p>
    </div>
    <nav>
        <ul class="strip">
            <li><a routerLink="/home" id="textLogIn">Home</a></li>
            <li>All Trails</li>
            <li>Community</li>
            <li>Profile</li>
            <li><a routerLink="/hikecreation" id="textLogIn">Create</a></li>
            <li><a routerLink="/register" id="textLogIn">Register</a></li>
            <li><a routerLink="/signin" id="textLogIn">Log in</a></li>
        </ul>
    </nav>
</div>
