html, body {
  height: 100%;
  margin: 0;
  background-color: #02282F;
}

.container {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 100%;
  padding: 10px;
}

.tile {
  padding: 15px;
  margin: 10px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
}

@media only screen and (max-width: 1500px) {
  .container {
    width: 100%;
  }
}


.star-button {
  background-color: #f9f9f9;
  border: none;
  color: #5df0d7;
  padding: 10px;
  cursor: pointer;
  text-align: right;
}