html, body {
  height: 100%;
  background-color: #02282F;
}

.container {
  width: 100%;
  padding: 10px;
  padding-top: 15vh;
}



.tile {
  padding: 15px;
  margin: 10px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.searchBar{

  width: 100%;
  height: 8vh;
  background-color: green;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  
}

#searchInput{

  width: 55%;
  padding: 10px;
  padding-left: 45px;
border-radius: 25px;
border-width: 0;


}


.button-group{

  display: flex;
}
.button-group button {
  width: 50px;
  height: 50px;
  border: none;
  background-color: #57a854;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
  justify-content: center;

 i{
color: white;
 }

 

}

.selected{
  background-color: #940dfc3f; 
}


/* Optional: Style for icons */
.button-group i {
  font-size: 2rem;
}

.rangeBox{

  display: flex;
  justify-content: center;
  align-items: center;

  gap: 10px;
}





.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
mat-slider {
  width: 150px;
}
.my-slider {

}

@media only screen and (max-width: 1500px) {
  .container {
    width: 100%;
  }
}


.input-icon {
  position: relative;
  left: 3px;
  color: rgb(12, 12, 12);
  left: 3rem;
  cursor: pointer;
  /* Vertically center the icon in the input */
}

.tag-container{

display:flex;
gap: 10px;
margin-left: 10px;
margin-top: 10px;
align-items: center;
}


.tags{

 background-color: #235a46;
 border-radius: 20px;
padding: 5px 10px 5px 10px;

}






