<!DOCTYPE html>
<html lang="en">
<head>
  <title>Toutes les randonnées</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

<div class="container">

    <div class="searchBar">
<div class="inputSearch">
        <i (click)='onSubmit(); splitKeywords()' class="fas fa-search input-icon"></i>
        <input placeholder="Ville,montage,coordinées" [(ngModel)]="searchKeyword" [formControl]="inputKeyword" class="input" type="text" id="searchInput">
        </div>
        <div class="button-group">

 <button    [ngClass]="{'selected': type == 'walk'}" (click)="setHikeType('walk')"  >
            <i  class="fas fa-walking"></i>
          </button>

          <button   [ngClass]="{'selected': type == 'bike'}" (click)="setHikeType('bike')" >
            <i class="fas fa-bicycle"></i>
          </button>
    </div>

    <!-- <div class="rangeBox">
        <p>Proximite: </p>
        <mat-slider class="slider" min="1" max="100" step="1" value="1.5">
            <input matSliderThumb>
          </mat-slider>
          
          <p>20Km</p>


    </div> -->
</div>

<div class="tag-container">

    <span style="color: white;" *ngIf="tags.length>0">Tags : </span>
<span style="color: white;" *ngFor="let tag of tags" class="tags">{{ tag }}</span>
</div>
    <div class="col">
       
        

        <div *ngIf="hikeService.isEmpty===false">
      <div class="row" *ngFor="let a of hikeService.hikeList">
    
        <div class="tile">
            <div class="container-fluid">
          <div class="row">
            <div class="col">
                <div class="row">
                    <h1>{{ a.name }}</h1>
                </div>
                <div class="row">
                    <p>{{ a.location }}</p>
                </div>
                <div class="row">
                    <img [src]="a.image" alt="Image de la randonnée" [style.max-width.px]="300" [style.max-height.px]="300">
                </div>

            </div>
            <div class="col">
                <div class="row">
                    <div class="col">
                        <br>
                        <br>
                        <br>
                        <p>Description: </p>
                    <br>
                    <p>{{ a.description }}</p>

                    </div>
                </div>
                <br>
                <br>
                <div class="row">
                    <div class="col">
                    
                        <p>Distance</p>
                    </div>
                    <div class="col">
                        <p >Type : {{ a.type === 0 ? 'Vélo' : 'Pied' }}</p>
                    </div>
                    <div class="col">
                        <p>Time</p>
                    </div>

                </div>
                <div class="row">
                    <div class="col">
                    
                        <p>indisponible</p>
                    </div>
                    <div class="col">
                        <p>{{ a.type }}</p>
                    </div>
                    <div class="col">
                        <p>indisponible</p>
                    </div>

                </div>
                
            </div>
            <div class="col">
                    <p>Map</p>
                
            </div>
          </div>
          <!-- Add more details as needed -->



          
        </div>
    </div>
      </div>
</div>
<div>
        <h2 style="color: white; margin-top: 15px;" *ngIf="hikeService.isEmpty === true"> Aucune randonnée disponible</h2>
        </div>

    </div>
  </div>
  
</body>
</html>