<div class="container">
    <div class="row">
      <div class="col" *ngFor="let a of hikeService.hikeList">
        <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        <div class="tile">
          <div class="row">
            <p>{{ a.name }}</p>
          </div>
          <div class="row">
            <p>{{ a.location }}</p>
          </div>
          <!-- Add more details as needed -->
        </div>
      </div>
    </div>
  </div>
  