<div class="container">
  <div class="leftBox"></div>
  <div class="rightBox">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="signinContainer">
        <h2 style="text-align: center">{{'signin.signin' | translate}}</h2>
        <div class="formInputContainer">
          <label for="email">{{'signin.email' | translate}}</label>
          <input
            class="formInput"
            id="email"
            type="email"
            formControlName="email"
            placeholder="example@email.com"
             
          />
          <mat-error
            *ngIf="
              loginForm.get('email')?.hasError('required') &&
              loginForm.get('email')?.touched
            "
          >
          {{'signin.requiredField' | translate}}</mat-error
          >
        </div>

        <div class="formInputContainer">
          <label for="password">{{'signin.password' | translate}}</label>
          <input
            class="formInput"
            id="password"
            type="password"
            formControlName="password"
            placeholder="***********"
          />
          <mat-error
            *ngIf="
              loginForm.get('password')?.hasError('required') &&
              loginForm.get('password')?.touched
            "
          >
          {{'signin.requiredField' | translate}}</mat-error
          >
        </div>

        <!-- Translates the error message from the server -->
        <p translate style="text-align: center; color: red;">{{this.requestResponseFormat}}</p>

        <div class="btnText">
          <div class="loader main" *ngIf="isWaiting">
            <div class="ball"></div>
            <div class="ball"></div>
            <div class="ball"></div>
            <div class="ball"></div>
            <div class="ball"></div>
          </div>
          <button 
            type="submit"
            [disabled]="loginForm.invalid || isWaiting"
            class="submitBtn"
            *ngIf="!isWaiting"
          >
          {{'signin.signin' | translate}}
          </button>
          <p id="textSignIn">
            {{'signin.dontHaveAccount' | translate}}
            <a routerLink="/register" id="textLogIn">{{'signin.register' | translate}}</a>
          </p>
        </div>
      </div>
    </form>
  </div>
</div>
