<div class="container">

<div class="leftBox"></div>
<div class="rightBox">
 <div class="signinContainer">

       <h2 style="text-align: center; ">Sign In</h2>
        <div class="formInputContainer">
          <label for="email">Email </label>
          <input
            class="formInput"
            id="email"
            type="email"
        
            placeholder="example@email.com"
          />
        
        
   
        </div>
        

        


  
            <div class="formInputContainer">
              <label for="password">Password: </label>
              <input
                class="formInput"
                id="password"
                type="password"
                placeholder="***********"
           
              />
             
            </div>

            <div class="btnText">
              
                  <button
                    type="submit"
                
                    class="submitBtn"
                  >
                    Sign In
                  </button>
        
                  <p id="textSignIn">Don't have an account? <a routerLink="/register" id="textLogIn">Register</a></p>
          
              </div>

        </div>
          
      </div>



</div>

