.container {
  display: flex;
  justify-content: center;
  padding-top: 20vh;

}

.leftBox {
  width: 20%;
  height: 600px;
  background-image: linear-gradient(#347352, #193d2a);
  border-radius: 30px 0 0 30px;
}

.rightBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 35%;
  height: 600px;
  background-color: white;
  border-radius: 0 30px 30px 0;

}

.formInputContainer {
  display: flex;
  flex-direction: column;
  border-style: none;
  margin-bottom: 15px;
}

.formInput {
  border-radius: 10px;
  border-style: solid;
  border-color: #193d2a;
  padding: 12px;
}

.submitBtn {
  width: auto;
  margin-top: 20px;
  background-color: #379271;
  padding: 13px 45px 13px 45px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: none 10px;
  color: white;
  font-weight: 500;
  font-size: 15px;
}

.btnText {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#email,
#password {
  width: 300px;
}

#textSignIn {
  color: #000000;
  font-size: 9px;
  text-align: center;
  margin-top: -10px;
  font-weight: 500;
}

#textLogIn {
  color: #379271;
  text-decoration: none;
}

.submitBtn:disabled,
.submitBtn[disabled] {
  background-color: #bae2d0;
}


@media only screen and (max-width: 1500px) {
  .container {
    padding-top: 20vh;
    display: flex;
    justify-content: center ;
    align-items: center; /* Add this line */

    
 
  }

  .rightBox {
    width: 60%;
  }

  .formInput {
    width: 100% !important;
  }
   .container{
  padding-bottom: 10vh;

    }
}

@media only screen and (max-width: 400px) {


  .rightBox{width: 100%;}
  .container{
    padding: 25vh 4vh 5vh 4vh;
  }
}



/* Loading Indicator */
.loader {
  margin-top: 43px;
  margin-bottom: 20px;
  width: 100px;
  height: 20px;
  
  transform: translate(-50%, -50%);
}

.loader .ball {
  width: 20px;
  height: 20px;
  
  border-radius: 50%;
  background-color: #193D2A;
  position: absolute;
  top: 0;
  
  animation: shift 2.5s linear infinite;
}

.loader .ball:nth-of-type(1) {
  animation-delay: -0.5s;
}

.loader .ball:nth-of-type(2) {
  animation-delay: -1s;
}

.loader .ball:nth-of-type(3) {
  animation-delay: -1.5s;
}

.loader .ball:nth-of-type(4) {
  animation-delay: -2s;
}

@keyframes shift {
  0% {
    transform: translate(-40px, 0) scale(2); /* Initial position */
    opacity: 0;
  }
  10% {
    transform: translate(0, 0); /* Move to the right */
    opacity: 1;
  }
  50% {
    transform: translate(80px, 0) scale(0.5); /* Move further to the right */
  }
  90% {
    transform: translate(160px, 0); /* Continue to the right */
    opacity: 1;
  }
  100% {
    transform: translate(240px, 0) scale(2); /* Final position */
    opacity: 0;
    background-color: #379271;
  }
}