html, body {

  margin: 0;
  background-color: #02282F;

}

.title{
  position: absolute;
  top: 200px;
  left: 120px;
  color: white;
  font-weight: bold;
  font-size: 2rem;
}

.container-tile{
  margin-left: 120px;
  margin-right: 120px;
  margin-bottom: 50px;
}
.container{

  margin-top: 20vh;

}

@media only screen and (max-width: 1000px) {
  .container-tile{
    margin-left: 30px;
    margin-right: 30px;
  }
}