<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

</head>


<div class="container">

  <div class="searchBar">
    <div class="inputSearch">
      <button  (click)="onSubmit();" [disabled]="hikeService.isWaiting" class="search-button">
        <i class="fas fa-search"></i>
      </button>
      <input placeholder="Ville,montage,coordinées" [(ngModel)]="searchKeyword" [formControl]="inputKeyword" class="input" type="text" id="searchInput">
    </div>
    <div class="button-group">
      <button    [ngClass]="{'selected': type == 'Walk'}" (click)="toggleHikeType('Walk'); onSubmit()"  >
        <i  class="fas fa-walking"></i>
      </button>
      <button   [ngClass]="{'selected': type == 'Bike'}" (click)="toggleHikeType('Bike'); onSubmit()" >
        <i class="fas fa-bicycle"></i>
      </button>
    </div>



</div>

<div class="container-tile" *ngFor="let hike of hikeService.hikeList">
  <app-tile [hike]="hike" ></app-tile>
</div>

