<app-nav></app-nav>
<div class="container">
  <div class="form-container">
    <div class="hike-card">
      <form [formGroup]="hikeForm" (ngSubmit)="onSubmit()">
        <!-- Form fields -->
      <div class="form-field">
        <div class="form-title">
          <p>Nom de la randonnée</p>
        </div>
        <div class="form-field-bg">
          <mat-form-field appearance="outline">
            <input matInput type="text" formControlName="nomRandonnee">
            <mat-error *ngIf="nomRandonnee?.invalid && (nomRandonnee?.dirty || nomRandonnee?.touched)">
              <span *ngIf="nomRandonnee?.errors?.['required']">Le nom de la randonnée est requis</span>
              <span *ngIf="nomRandonnee?.errors?.['minlength']">Le nom de la randonnée doit contenir au moins 4 caractères</span>
              <span *ngIf="nomRandonnee?.errors?.['maxlength']">Le nom de la randonnée ne peut pas dépasser 70 caractères</span>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <!-- Image upload -->
      <div class="form-field">
        <div class="form-title">
          <p>Image</p>
        </div>
        <img *ngIf="imagePreview && !image?.invalid" [src]="imagePreview" alt="Selected Image" class="preview-image">
        <input type="file" accept="image/*" (change)="displayImage($event)">
        <mat-error *ngIf="imageSelected && image?.invalid">
          <span *ngIf="image?.errors?.['required']">L'image est requise</span>
          <span *ngIf="image?.errors?.['invalidFileType']">Format de fichier non pris en charge. Veuillez sélectionner une image.</span>
          <span *ngIf="image?.errors?.['invalidFileContent']">Fichier non valide. Veuillez sélectionner une image valide.</span>
        </mat-error>
      </div>

      <!-- Description -->
      <div class="form-field">
        <div class="form-title">
          <p>Description</p>
        </div>
        <mat-form-field appearance="outline">
          <textarea matInput formControlName="description"></textarea>
          <mat-hint>{{ description?.value?.length }}/255</mat-hint>
          <mat-error *ngIf="description?.invalid && (description?.dirty || description?.touched)">
            La description ne peut pas dépasser 255 caractères
          </mat-error>
        </mat-form-field>
      </div>


      <!-- Location -->
      <div class="form-field">
        <div class="form-title">
          <p>Emplacement</p>
        </div>
        <mat-form-field appearance="outline">
          <input matInput type="text" formControlName="location">
        </mat-form-field>
      </div>

      <!-- Type (Vélo ou pied) -->
      <div class="form-field">
        <div class="form-title">
          <p>Type</p>
        </div>
        <mat-form-field appearance="outline">
          <mat-select formControlName="type">
            <mat-option *ngFor="let type of hikeTypes" [value]="type">{{ type }}</mat-option>
          </mat-select>
          <mat-error *ngIf="type?.invalid && (type?.dirty || type?.touched)">
            Le type est requis
          </mat-error>
        </mat-form-field>
      </div>


      </form>

      <!-- Toggle buttons for selecting points A and B -->
      <div class="button-container">
        <button (click)="choosePoint('A')" [class.selected]="selectedPoint === 'A'">Choose Point A</button>
        <button (click)="choosePoint('B')" [class.selected]="selectedPoint === 'B'">Choose Point B</button>
      </div>

      <!-- Display latitude and longitude for selected points -->
      <div class="point-info" *ngIf="pointALatitude !== null && pointALongitude !== null">
        <p>Point A Latitude: {{ pointALatitude }}</p>
        <p>Point A Longitude: {{ pointALongitude }}</p>
      </div>
      <div class="point-info" *ngIf="pointBLatitude !== null && pointBLongitude !== null">
        <p>Point B Latitude: {{ pointBLatitude }}</p>
        <p>Point B Longitude: {{ pointBLongitude }}</p>
      </div>
    </div>

       <!-- Submit Button -->
       <div class="button-container">
        <button mat-raised-button color="primary" (click)="onSubmit()" [disabled]="!hikeForm.valid || markers.length < 2">
          Create Randonnée
        </button>
      </div>
      

  </div>

  <!-- Map section -->
  <div class="map-container">
    <div class="map-section">
      <google-map #mapAB [center]="center" [zoom]="zoom" (mapClick)="placeMarker($event)">
        <map-marker *ngFor="let marker of markers" [position]="marker.position" height="100%"></map-marker>
      </google-map>
    </div>
  </div>
</div>
