<div class="form-container">
    <mat-card class="hike-card">
      <form [formGroup]="hikeForm" (ngSubmit)="onSubmit()">
        <div class="form-title">
          <span class="required">*</span>&nbsp;Nom de la randonnée
        </div>
        <mat-form-field class="form-field">
          <input matInput type="text" formControlName="nomRandonnee">
          <mat-error *ngIf="nomRandonnee?.invalid && (nomRandonnee?.dirty || nomRandonnee?.touched)">
            <span *ngIf="nomRandonnee?.errors?.['required']">Le nom de la randonnée est requis</span>
            <span *ngIf="nomRandonnee?.errors?.['minlength']">Le nom de la randonnée doit contenir au moins 4 caractères</span>
            <span *ngIf="nomRandonnee?.errors?.['maxlength']">Le nom de la randonnée ne peut pas dépasser 70 caractères</span>
          </mat-error>
        </mat-form-field>
  
        <div class="form-title">
          <span class="required">*</span>&nbsp;Image
        </div>
        <div class="form-field">
          <img *ngIf="imagePreview && !image?.invalid" [src]="imagePreview" alt="Selected Image" style="width: 100px; height: 75px;">
          <input type="file" accept="image/*" (change)="displayImage($event)">
          <mat-error *ngIf="imageSelected && image?.invalid">
            <span *ngIf="image?.errors?.['required']">L'image est requise</span>
            <span *ngIf="image?.errors?.['invalidFileType']">Format de fichier non pris en charge. Veuillez sélectionner une image.</span>
            <span *ngIf="image?.errors?.['invalidFileContent']">Fichier non valide. Veuillez sélectionner une image valide.</span>
          </mat-error>          
        </div>
  
        <div class="form-title">
          Description
        </div>
        <mat-form-field class="form-field">
          <textarea matInput formControlName="description"></textarea>
          <mat-hint>{{ description?.value?.length }}/255</mat-hint>
          <mat-error *ngIf="description?.invalid && (description?.dirty || description?.touched)">
            La description ne peut pas dépasser 255 caractères
          </mat-error>
        </mat-form-field>
  
        <div class="form-title">
          <span class="required">*</span>&nbsp;Type (Vélo ou pied)
        </div>
        <mat-form-field class="form-field">
          <mat-select formControlName="type">
            <mat-option *ngFor="let type of hikeTypes" [value]="type">{{ type }}</mat-option>
          </mat-select>
          <mat-error *ngIf="type?.invalid && (type?.dirty || type?.touched)">
            Le type est requis
          </mat-error>
        </mat-form-field>
  
        <div class="form-title">
          <span class="required">*</span>&nbsp;Point de départ
        </div>
        <mat-form-field class="form-field">
          <input matInput type="text" formControlName="pointDepart">
          <mat-error *ngIf="pointDepart?.invalid && (pointDepart?.dirty || pointDepart?.touched)">
            Le point de départ est requis et doit être un nombre
          </mat-error>
        </mat-form-field>
  
        <div class="form-title">
          <span class="required">*</span>&nbsp;Point d'arrivée
        </div>
        <mat-form-field class="form-field">
          <input matInput type="text" formControlName="pointArrivee">
          <mat-error *ngIf="pointArrivee?.invalid && (pointArrivee?.dirty || pointArrivee?.touched)">
            Le point d'arrivée est requis et doit être un nombre
          </mat-error>
        </mat-form-field>
  
        <button mat-raised-button color="primary" type="submit" [disabled]="!hikeForm.valid">Enregistrer</button>
      </form>
    </mat-card>
</div>
