<div class="container">
  <div class="leftBox"></div>

  <div class="rightbox">
    <form [formGroup]="formUpdateProfile" (ngSubmit)="onSubmit()" class="formBoite">
      <h2 translate style="text-align: center" id="titleUpdate">Update Profile</h2>
      <!-- First Name and Last Name -->
      <div class="row">
        <div class="formInputContainer">
          <label for="firstName">First Name</label>
          <input class="formInput" id="firstName" type="text" placeholder="First Name" formControlName="firstName">
          <mat-error *ngIf="formUpdateProfile.get('firstName')?.errors?.['minlength']">Minimum 2 characters</mat-error>
          <mat-error *ngIf="formUpdateProfile.get('firstName')?.errors?.['maxlength']">Maximum 40 characters</mat-error>
        </div>
        <div class="formInputContainer">
          <label for="lastName">Last Name</label>
          <input class="formInput" id="lastName" type="text" placeholder="Last Name" formControlName="lastName">
          <mat-error *ngIf="formUpdateProfile.get('lastName')?.errors?.['minlength']">Minimum 2 characters</mat-error>
          <mat-error *ngIf="formUpdateProfile.get('lastName')?.errors?.['maxlength']">Maximum 40 characters</mat-error>
        </div>
      </div>

      <!-- Postal Code and Address -->
      <div class="row">
        <div class="formInputContainer">
          <label for="postalCode">Postal Code</label>
          <input class="formInput" id="postalCode" type="text" placeholder="Postal Code" formControlName="postalCode">
          <mat-error *ngIf="formUpdateProfile.get('postalCode')?.errors?.['pattern']">Invalid postal code format</mat-error>
        </div>
        <div class="formInputContainer">
          <label for="address">Address</label>
          <input class="formInput" id="address" type="text" placeholder="Address" formControlName="address">
          <mat-error *ngIf="formUpdateProfile.get('address')?.errors?.['maxlength']">Maximum 100 characters</mat-error>
        </div>
      </div>

     <!-- Birthdate and Profile Picture -->
<div class="row">
  <div class="formInputContainer">
    <label for="birthdate">Birthdate</label>
    <!-- Bind form control to input field -->
    <input class="formInput" id="birthdate" type="date" formControlName="birthdate" >
  </div>           
  <div class="formInputContainer">
    <label for="profilePicture">Profile Picture</label>
    <input type="file" accept="image/*" (change)="displayImage($event)">
    <div *ngIf="imagePreview" class="image-preview">
      <div class="circular-crop">
        <img [src]="imagePreview" alt="Profile Picture">
      </div>
    </div>
  </div>
</div>


      <!-- Current Password, New Password, Confirm New Password -->
      <div class="password-container">
        <div class="formInputContainer">
          <label for="currentPassword">Current Password</label>
          <input class="formInput" id="currentPassword" type="password" placeholder="Current Password" formControlName="currentPassword">
        </div>
        <div class="formInputContainer">
          <label for="newPassword">New Password</label>
          <input class="formInput" id="newPassword" type="password" placeholder="New Password" formControlName="newPassword">
          <mat-error *ngIf="formUpdateProfile.get('newPassword')?.errors?.['minlength']">Minimum 6 characters</mat-error>
          <mat-error *ngIf="formUpdateProfile.get('newPassword')?.errors?.['maxlength']">Maximum 100 characters</mat-error>
          <mat-error *ngIf="formUpdateProfile.get('newPassword')?.errors?.['pattern']">Invalid password format</mat-error>
        </div>
        <div class="formInputContainer">
          <label for="newPasswordConfirm">Confirm New Password</label>
          <input class="formInput" id="newPasswordConfirm" type="password" placeholder="Confirm New Password" formControlName="newPasswordConfirm">
          <mat-error *ngIf="formUpdateProfile.get('newPasswordConfirm')?.errors?.['passwordMismatch']">Passwords do not match</mat-error>
        </div>
      </div>

      <!-- Submit Button -->
      <div class="row flex-center">
        <div class="content">
          <button type="submit" class="submitBtn">Update Profile</button>
        </div>
      </div>
    </form>
  </div>
</div>
