


<div class="container">




    <div class="firstRow">


<div class="leftBox">

<div class="leftPart">

    <div class="contentBox">
    <h1 class="titlePage">Explore like never</h1>
    <input  id="hike" [formControl]="inputKeyword" type="text" class="inputSearch" placeholder="Ville, montage, coordinées...">
    <!-- <pre>form value : {{ inputKeyword.value | json }}</pre> -->
    <p class="description" >Your ultimate outdoor adventure companion. Plan, create, and share your trails with a passionate community of hikers.</p>
    <button  (click)='onSubmit()' class="trailBtn">Find a trail</button>
</div>


</div>

<div class="rightPart">


        <img class="imgBox" src="assets/images/2024-01-26_09_30_36-fc8c42d9-1012-4f31-9801-060789edc1041.png" alt="Randonnée">
    
  

</div>


</div>





<div class="rightBox">
<div class="imageTitlebBox">
<h3 class="titleImages" >Popular Trails</h3>
<div class="imageBox"> 
<img class="images" src="assets/images/Hikes-Ellinor2.png">
<img class="images" src="assets/images/Toto-Creek2.png">
<img class="images" src="assets/images/img_spot_009_012.png">
</div>
</div>
</div>



    </div>
    <div class="secondRow">

        <div class="col1">
        <div class="square"></div>
        <div class="square"></div>

        </div>
        <div class="col2">

            <div class="topPart">
               <h4 class="titleCard">Trail Making</h4>
            </div>

            <div class="bottomPart">
                <img class="imageCard" style="  border-radius:  0 0 15px 15px;" src="assets/images/Hikes-Ellinor2.png">
            </div>


        </div>
        <div class="col3"><div class="topPart">
            <h4 class="titleCard" style="text-align: center; line-height: 120%;">Track your Explorations
         </h4>
         </div>

         <div class="bottomPart">
             <img class="imageCard" style="  border-radius:  0 0 15px 15px;" src="assets/images/Hikes-Ellinor2.png">
         </div>
</div>
        <div class="col4">

            <div class="topPart">
                <h4 class="titleCard">Trail Making</h4>
             </div>
 
             <div class="bottomPart">
                 <img class="imageCard" style="  border-radius:  0 0 15px 15px;" src="assets/images/Hikes-Ellinor2.png">
             </div>
 
 
        </div>
        <div class="col5"><div class="topPart">
            <h4 class="titleCard">Community</h4>
         </div>

         <div class="bottomPart">
             <img class="imageCard" style="  border-radius:  0 0 15px 15px;" src="assets/images/Hikes-Ellinor2.png">
         </div>
</div>

    </div>

    <div class="thirdRow">

    </div>

</div>