
.signUpBox{
  display: flex;
  margin-top: 40px;
  padding-right: 120px;
  padding-left: 120px;
  
 border-radius: 100px ;
background-color: ;
 
}

.leftBox{

  width: 30%;
  background-color: green;
}
.rightbox{

  width: 70%;
  background-color: green;
}




.formBoite {
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boiteInput {
  width: 300px;
}

.submitBtn {
  width: 300px;
  margin-top: 20px;
}

.LabelInputBox {
  display: flex;
  flex-direction: column;
}
.simlarInfoBox {
  display: flex;
  gap: 20px;
  margin: 10px;
}

.example-month-picker .mat-calendar-period-button {
  pointer-events: none;
}

.example-month-picker .mat-calendar-arrow {
  display: none;
}