.main {
    display: flex;
    background-color: white;
    border-radius: 40px;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    font-family: "Lato";
    flex-direction: row;
}

.left {
    width: 64%;
    height: 100%;
    padding: 40px 50px;
    display: flex;
    flex-direction: row
}

.right {
    width: 36%;
    background-color: blue;
    display: flex;
}

.map-section{
    width: 100%;
    height: 100%;
}

.content-l {
}

.content-r {
    width: calc(100% - 400px - 40px);
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    justify-content: space-between;
}

.top{
    padding-top: 20px;
}

.descTitle{
    font-weight: bold;
    margin-bottom: 20px;
}

.bottom{
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.infoSmall{
    margin-top: 20px;
    bottom: 0;
    flex-direction: row;
    justify-content: space-between;
    display: none;
}

.infoTitle{
    font-weight: bold;
    margin-bottom: 10px;
}

.image {
    background-color: orange;
    width: 400px;
    height: 265px;
    margin-top: 15px;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 2.19rem;
    font-weight: bold;
    font-family: 'Lato';
}

p {
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: 1550px) {
    .content-r {
        display: none;
    }

    .right {
        width: 100%;
    }

    .infoSmall{
        display: flex;
    }
}

@media only screen and (max-width: 1000px) {
    .right {
        display: none;
    }
    .main{
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
    }

    .left{
        justify-content: center;
        width: 100%;
    }
}
