<div class="main">
    <div class="left">
        <div class="content-l">
            <div class="titleTop">
                <div>
                    <div *ngIf="isAdmin()">
                        <h1 *ngIf="getHikeStatusName(hike.status) == 'REJECTED'" [ngStyle]="{'color': getColor(hike.status)}">{{'admin-tile.rejectedCaps' | translate}}</h1>
                        <h1 *ngIf="getHikeStatusName(hike.status) == 'PENDING'" [ngStyle]="{'color': getColor(hike.status)}">{{'admin-tile.pendingCaps' | translate}}</h1>
                        <h1 *ngIf="getHikeStatusName(hike.status) == 'VALIDATED'" [ngStyle]="{'color': getColor(hike.status)}">{{'admin-tile.validatedCaps' | translate}}</h1>
                    </div>
                    <h1>{{hike.name}}</h1>
                    <p>{{hike.location}}</p>
                </div>
                <div class="favBtnSmall">
                    <button class="star-button" *ngIf="isLoggedIn()" (click)="onButtonClick(hike.id, hike)">
                        <i [class]="hikeService.isInFavourite(hike)"></i>
                    </button>
                </div>
            </div>

            <div *ngIf="isAdmin()">
            <select #statusSelect (change)="safeUpdateStatus(hike.id, +statusSelect.value)" class="form-control">
                <option disabled>{{'admin-tile.selectStatus' | translate}}</option>
                <option [value]="0" [selected]="hike.status === 0">{{'admin-tile.pending' | translate}}</option>
                <option [value]="1" [selected]="hike.status === 1">{{'admin-tile.validated' | translate}}</option>
                <option [value]="2" [selected]="hike.status === 2">{{'admin-tile.rejected' | translate}}</option>
            </select>
        </div>
            

            <div class="image">
                <img src="{{hike.image}}" alt="">
            </div>
            <div class="infoSmall">
                <div class="info">
                    <p class="infoTitle">{{'all-trails.distance' | translate}}</p>
                    <p>{{hike.distance}} Km</p>
                </div>
                <div class="info">
                    <p class="infoTitle">{{'all-trails.type' | translate}}</p>
                    <span class="material-symbols-outlined">
                        directions_walk
                     </span>
                </div>
                <div class="info">
                    <div class="infoTitle">
                        {{'all-trails.time' | translate}}
                    </div>
                    <p *ngIf="hike.timeEstimated; else noTime">{{ hike.timeEstimated }} H</p>
                    <ng-template #noTime>N/D</ng-template>
                </div>
            </div>
        </div>
        <div class="content-r">
            <div class="top">
                <div class="descTop">
                    <div class="descTitle">
                        {{'all-trails.description' | translate}}
                    </div>
                    <div class="favBtn">
                        <button class="star-button" *ngIf="isLoggedIn()" (click)="onButtonClick(hike.id, hike)">
                            <i [class]="hikeService.isInFavourite(hike)"></i>
                        </button>
                    </div>
                </div>
                <div class="desc">
                    <p>{{hike.description}}</p>
                </div>   
            </div>
            <div class="bottom">
                <div class="info">
                    <div class="infoTitle">
                        {{'all-trails.distance' | translate}}
                    </div>
                    <p>{{hike.distance}} Km</p>                    
                </div>
                <div class="info">
                    <div class="infoTitle">
                        {{'all-trails.type' | translate}}
                    </div>
                    <span class="material-symbols-outlined">
                        {{ hike.type === 0 ? "directions_bike" : "directions_walk" }}
                      </span>
                </div>
                <div class="info">
                    <div class="infoTitle">
                        {{'all-trails.time' | translate}}
                    </div>
                    <p *ngIf="hike.timeEstimated; else noTime">{{ hike.timeEstimated }} H</p>
                    <ng-template #noTime>N/D</ng-template>
                </div>
            </div>
        </div>
    </div>
    <div class="right">
        <div class="map-section">
            <google-map
            [center]="center"
            [zoom]="zoom"
            [width]="'100%'" 
            [height]="'100%'">
            <map-marker *ngFor="let marker of markerPositions"
                        [position]="marker">
            </map-marker>
            </google-map>
        </div>
    </div>
</div>
