<nav class="navbarContainer">
  <ul class="navItemsContainer">
    <li>
      <a
        routerLink="/home"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Home</a
      >
    </li>
    <li>
      <a
        routerLink="/register"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Register</a
      >
    </li>

    <li>
      <a
        routerLink="/signin"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Sign In</a
      >
    </li>
  </ul>
</nav>
